body {

background-color: #ffffff;
  
}

.w3-card-4, .w3-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

.w3-center {
    text-align: center!important;
}

.w3-small {
    font-size: 20px!important;
}

label {

position: relative;
  bottom: -100px;
  
}

.w3-card-4  {

  height:  700px;
  
}

.more {

top: 700px;

font-size: 30px;
  
  
}

#box1 {


  


height: 50px;
width: 500px;

text-align: center;
position: relative;
  left: 170px;
  top: 10px;
  
}

#kms {


  position: relative;
  top: 90px;
  
  
}

button {

box-shadow: 0px 0px 17px 0px #c4cec0;
	background-color:#ffffff;
	border-radius:28px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#050405;
	font-family:Georgia;
	font-size:13px;
	font-weight:bold;
	padding:7px 16px;
	text-decoration:none;
	text-shadow:0px 0px 50px #ffffff;
  
}


div { position: relative; }

#btna {


position: relative;
top: 200px;

height: 50px;

  font-size: 50px;
}

bta {

font-size: 50px;
  
}
